.container{
    width:500px;
    height: 500px;
    border:1px solid black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position:absolute;
}
div{
    border:1px solid black;
}